/* ////Override radimo tako što “pojačavamo” selektore na već postojeće klase ili pomoću !important komande. */



    html {
        font-size: 14px !important;
    }



    div > nav  .container {
        background-color: #b34848 !important;
        color: white!important;
    }

    h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {

    color: #b34848
    !important;
}

.blog-post-title {
    color: #b34848
 !important;
}

a {
    color: #b34848
!important    ;
  }

nav > a {
    color :white;
}