    html {
        font-size: 14px !important;
    }



    .blog-masthead {
        background-color: #b34848 !important;
    }

    h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {

    color: #b34848
    !important;
}

.blog-post-title {
    color: #b34848
 !important;
}

a {
    color: #b34848
!important    ;
  }

nav > a {
    color :white !important;
}

.btn-outline-primary {
color:black !important;
border-color: #b34848 !important;}